.app-layout {
  position: relative;
  width: 1024px;
  height: 600px;
  overflow: hidden;
  background: #000;
}

.app-layout__content {
  width: 100%;
  height: 100%;
  animation: slideUp 0.25s ease-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0);
  }
}